<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/bootstrap-4.5.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/bootstrap-4.5.0-dist/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/bootstrap-4.5.0-dist/css/bootstrap-reboot.min.css">
</head>
<body>

@RenderBody()

</body>
</html>